[submodule "randomizer_forks/WorldsCollide"]
	path = randomizer_forks/WorldsCollide
	url = https://github.com/ff6wc/WorldsCollide.git
[submodule "randomizer_forks/WorldsCollide_dev"]
	path = randomizer_forks/WorldsCollide_dev
	url = https://github.com/ff6wc/WorldsCollide.git
	branch = dev
[submodule "randomizer_forks/WorldsCollide_Door_Rando"]
	path = randomizer_forks/WorldsCollide_Door_Rando
	url = https://github.com/HansGR/WorldsCollide.git
	branch = doorRandomizer-new
[submodule "randomizer_forks/WorldsCollide_practice"]
	path = randomizer_forks/WorldsCollide_practice
	url = https://github.com/BriGuy7727/WorldsCollide.git
	branch = kpractice
[submodule "randomizer_forks/WorldsCollide_location_gating1"]
	path = randomizer_forks/WorldsCollide_location_gating1
	url = https://github.com/BriGuy7727/WorldsCollide.git
	branch = loc-gated
[submodule "randomizer_forks/WorldsCollide_shuffle_by_world"]
	path = randomizer_forks/WorldsCollide_shuffle_by_world
	url = https://github.com/JackQuincy/WorldsCollide.git
[submodule "randomizer_forks/WorldsCollide_shuffe_by_world"]
	branch = worlds-divided
